@model X.PagedList.IPagedList<InternetShop.Data.Models.Product>

@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    Sort By:
    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter })
    @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm, currentFilter=ViewBag.CurrentFilter })
</p>
@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as String)
        <input type="submit" value="Search"/>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Price per unit
            </th>
            <th>
                Unit in stock
            </th>
            <th>
                Supplier
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <p>@Html.DisplayFor(modelItem => item.Name)</p>
            <p>@Html.DisplayFor(modelItem => item.Price)</p>
            <p>@Html.DisplayFor(modelItem => item.UnitInStock)</p>
            <p>@Html.DisplayFor(modelItem => item.SupplierId)</p>
        </div>
    }
</div>

