@model InternetShop.Data.Models.Order

@{
    ViewData["Title"] = "Order details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitsCount)
        </dd>
    </dl>
    @foreach(var product in Model.Products)
    {
        <p>
            @product.Name
        </p>
        <p>
            Per product: 1
        </p>
    }
    <button type="submit">Place order!</button>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
</div>
